[submodule "Noctis/vendor/spdlog"]
	path = Noctis/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Noctis/vendor/GLFW"]
	path = Noctis/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Noctis/vendor/imgui"]
	path = Noctis/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Noctis\\vendor\\glm"]
	path = Noctis\\vendor\\glm
	url = https://github.com/g-truc/glm
